
<h1>Edit Password</h1>


<%= form_with model: Current.user, url: password_path do |form| %>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <ul>
            <% form.object.errors.full_messages.each do |message| %>
                <div><li><%= message %></li></div>
            <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="mb-3">
        <%= form.label :password %>
        <br>
        <%= form.password_field :password , class: "form_control"%>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <br>
        <%= form.password_field :password_confirmation, class: "form_control"%>
    </div>

    <div class="mb-3" >
        <%= form.submit "Edit Password", class: "btn btn-primary"%>
    </div>
    
<% end %>